* {
	box-sizing: border-box;
}
body{
    /*background-image: radial-gradient(circle at -17.65% 50%, #a0d9e7 0, #a3d8eb 5.56%, #a6d7ee 11.11%, #aad6f1 16.67%, #afd5f3 22.22%, #b4d3f4 27.78%, #bad2f4 33.33%, #c0d0f4 38.89%, #c7cff3 44.44%, #cdcdf2 50%, #d3cbf0 55.56%, #d9caed 61.11%, #dfc8ea 66.67%, #e4c7e6 72.22%, #e9c6e2 77.78%, #edc5dd 83.33%, #f0c4d9 88.89%, #f3c3d4 94.44%, #f5c3cf 100%);*/
    /*height: 100vh;*/
    margin: -20px 0 50px;
    background-color: #8bb2ee;
}
main{
    box-shadow: 2px 2px 6px #8f80d1;
    border-radius: 1%;
    margin: 5%;
    padding: 2%;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
/*div{
    font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}*/
button {
	border-radius: 20px;
	border: 1px solid #FFF;
	background-color: #FFF;
	color: #707070;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
    margin: 30px auto;
    width: auto;
} 

.form_container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
} 

#general_information{
    left: 0;
	width: 40%;
    height: 97%;
    margin:10%;
    padding-right: 50%;
    padding: 3%;
	z-index: 2;
    background-color: #FFF;
}

#contact_details{
    right: 0;
	width: 40%;
    height: 97%;
    margin: 10%;
    padding: 2%;
	z-index: 1;
    background-color: #4935d4;
}
.floating_label{
    display: flex;
    justify-content: space-between;
	flex-direction: column;
}

label {
    font-size:  12.5px; 
    color:  #000;
    opacity:  .8;
    font-weight:  400;
}

select, input{
    border-style: none;
}

#general_information select, #general_information input{
    border-bottom: 1px solid #7a7a7a;
    background-color: #FFF;
}

#general_information input, #general_information select{
    color: #7a7a7a;
}

#general_information h1{
    color: #2a67b7;
}

#contact_details select, #contact_details input{
    border-bottom: 1px solid #d8b1ff;
    background-color: #4935d4;
}

#contact_details h1, #contact_details input, #contact_details select{
    color: #FFF;
}

.validating label{
    color: #d8b1ff;
}

.validating a {
    font-weight: bolder;
    color: #d8b1ff;
}
