*{
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0%;
    padding: 0%;
    background: linear-gradient(to right bottom, #8bb2ee, #898ed0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    border: 0px solid navy;
    width: 100%;
    height: 100%;
}
form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
    border: 0px solid black;
}
.container-left{
    border: 0px solid green;
    border-top-left-radius:2% ;
    border-bottom-left-radius:2% ;
    box-shadow: 0px 0px 4px #5f5f5f;
    width: 45%;
    height: 89%;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:stretch;
    background-color: #fff;
}
.container-right{
    border: 0px solid greenyellow;
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    box-shadow: 0px 0px 4px #5f5f5f;
    width: 45%;
    height: 89%;
    padding: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #4935d4;
}

.floating_label{
    border: 0px solid red;
    margin: 0.5%;
}
.floating_label>label{
    opacity: 0;
}
h1{
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.title-left{
    margin-top: -20%;
    color: #2a67b7;
}
.title-right{
    color: #fff;
}
input, select{
    border-style: none;
    border-bottom: 1px solid;
    font-weight: bolder;
    outline: none;
}

input::placeholder, select::placeholder{
    opacity: 0.7;
}
.container-right input, .container-right select{
    background-color: #4935d4;
    border-color:#d8b1ff;
    color:#fff; 
}
.container-left input, .container-left select{
    background-color: #fff;
    border-color: #7a7a7a;
    color: #7a7a7a;
}
.container-right input::placeholder{
    color: #fff;
}
input[type='text']{
    margin: 1px;
}

#user_title{
    width: 99%;
}

#first{
    width: 100%;
}

#user_first{
    width: 46%;
    margin-right: 35%;
}

#user_last{
    width: 49%;
    margin-left: -50%;
}
#user_position{
    width: 99%;
}
#user_company{
    width: 99%;
}
#business{
    width: 100%;
}
#user_business{
    width: 46%;
}
#user_employee{
    width: 49%;
    margin-left: -22%;
}
#user_street{
    width: 99%;
}
#user_addinfo{
    width: 99%;
}
#zip{
    width: 100%;
}
#user_zipcode{
    width: 18%;
}
#user_place{
    width: 76%;
    margin-left: -12%;
}
#user_country{
    width: 99%;
}
#user_mail{
    width: 99%;
}
#tel{
    width: 100%;
}
#user_numcode{
    width: 18%;
}
#user_numtel{
    width: 77%;
    margin-left: -10%;
}
.contrat{
    width: 85%;
    margin-bottom: 4%;
    color: #fff;
    text-align: left;
    font-size: 95%;
    display: flex;
}
.terms{
    font-weight: bold;
    color: #fff;
}
.check{
    margin-right: 2%;
}
button{
    border-radius: 25px;
	border: 0px solid #FFF;
	background-color: #FFF;
    width: 30%;
	color: #707070;
	font-size: medium;
	font-weight: bold;
    padding: 1.5%;
    margin-top: 0.3%;
}